    .animated-title {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
  }

.product-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 300px;
    text-align: center;
    animation: bounceIn 0.8s ease-in-out;
  }
  
  .product-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .product-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .add-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #4b5bd7;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #6776e7;
  }
  
  .product-list {
    display: flex;
    margin: 0; 
    gap: 20px;
    justify-content: center; 
    align-items: center;     
    overflow-x: auto;        
    padding: 20px;  
    overflow-x: auto;
  }
  .product-container.search-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .product-container.search-result .product-image {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
  
  .product-container.search-result h2 {
    font-size: 1em;
    margin: 0 10px;
  }
  
  .product-container.search-result .add-button {
    padding: 5px 10px;
  }

/* Media query para pantallas pequeñas */
@media (max-width: 950px) {
  .product-list {
    flex-direction: column;
    align-items: center;
  }
  
  .product-container {
    max-width: 70%;
    width: 100%;
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
}
