* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #1E98FD;
  --secondary-color: #FF00F7;
  --text-color: #555;
  --background-color: #f4f4f4;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: black;
}

.title:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
