* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #1E98FD;
  --secondary-color: #FF00F7;
  --text-color: #555;
  --background-color: #f4f4f4;
}

header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.nav-buttons { 
  display: flex; 
  gap: 20px; 
  border-radius: 15px;
  padding: 10px 10px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
} 

.nav-button {
   background: none; 
   border: none; 
   cursor: pointer; 
  }

.icon { 
  height: 30px; 
  width: 30px; 
}

.icon:hover { 
  height: 40px; 
  width: 40px; 
}

.search-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative; 
  border-radius: 15px;
  padding: 10px 10px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
  z-index: 10; 
}

.search-container input {
  padding: 8px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.search-results-wrapper {
  display: flex;
  justify-content: flex-end; /* Mueve los resultados a la derecha */
  position: absolute; 
  top: 70px; /* Ajusta para posicionar debajo de la barra de búsqueda */
  right: 100px; /* Mueve el contenedor hacia la derecha */
  width: 300px; /* Asegura que el ancho sea igual al de la barra de búsqueda */
  z-index: 9; 
}

.search-results-container {
  width: 100%; 
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-top: 10px; 
  text-align: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.hero-text {
  border-radius: 15px;
  padding: 30px;
  color: #000;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.181);
  font-size: x-large;
  max-width: 50%;
  margin-right: 20px;
}

.hero-text:hover {
  transform: scale(1.02);
  transition: all 0.5s ease;
}

.hero-image img {
  display: flex;
  max-width: 100%;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}

.hero-image:hover {
  transform: scale(1.02);
  transition: all 0.5s ease;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: black;
}

.title:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.slider-box {
  width: 80%;
  height: 500px;
  border-radius: 25px;
  border: 5px solid transparent;
  background-image: linear-gradient(white, white), 
  linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  background-clip: padding-box, border-box;
  background-origin: border-box;
  margin: 50px auto 0;
  overflow: hidden;
}

.slider-box:hover {
  transform: scale(1.02);
  transition: all 0.5s ease;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite;
}

.slider-box li {
  width: 100%;
  list-style: none;
  position: relative;
}

.slider-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes slide {
  0% { margin-left: 0; }
  20% { margin-left: 0; }
  25% { margin-left: -100%; }
  45% { margin-left: -100%; }
  50% { margin-left: -200%; }
  70% { margin-left: -200%; }
  75% { margin-left: -300%; }
  95% { margin-left: -300%; }
  100% { margin-left: 0; }
}

.cite {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 200px;
  text-align: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: large;
}

.cite:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.cite h2 {
  margin-top: 10px;
}

footer {
  background-color: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 20px;
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
}

.social-media a img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
}

.social-media a img:hover {
  transform: scale(1.1);
}

@media(max-width: 900px) {
  header {
    padding: 0 30px;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero-text {
    max-width: 100%;
    margin-right: 0px;
  }

  .hero-image img {
    margin-top: 40px;
  }

  .slider-box {
    height: 100%;
  }
}

@media(max-width: 600px) {
  .search-container input {
    width: 100%;
  }

  .hero-content {
    padding: 20px;
  }

  .slider-box {
    width: 100%;
  }
}
